<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>創九報名 批改系統</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src='/js/angular.min.js'></script>
    <script src='/js/angular-sanitize.min.js'></script>
    <script src="/bower_components/Chart.js/Chart.js"></script>
    <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src='/js/app.js'></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    
    <script src="/semantic/dist/semantic.min.js"></script>

    <style type="text/css">

      body {
        background-color: #FFFFFF;
      }
      .main.container {
        margin-top: 2em;
      }

      .main.menu {
        margin-top: 4em;
        border-radius: 0;
        border: none;
        box-shadow: none;
        transition:
          box-shadow 0.5s ease,
          padding 0.5s ease
        ;
      }
      .main.menu .item img.logo {
        margin-right: 1.5em;
      }

      .overlay {
        float: left;
        margin: 0em 3em 1em 0em;
      }
      .overlay .menu {
        position: relative;
        left: 0;
        transition: left 0.5s ease;
      }

      .main.menu.fixed {
        background-color: #FFFFFF;
        border: 1px solid #DDD;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
      }
      .overlay.fixed .menu {
        left: 800px;
      }

      .text.container .left.floated.image {
        margin: 2em 2em 2em -4em;
      }
      .text.container .right.floated.image {
        margin: 2em -4em 2em 2em;
      }

      .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
      }


    </style>
    <script type="text/javascript">
    $(document)
      .ready(function() {
        // fix main menu to page on passing
        $('.main.menu').visibility({
          type: 'fixed'
        });
        $('.overlay').visibility({
          type: 'fixed',
          offset: 80
        });

        // lazy load images
        $('.image').visibility({
          type: 'image',
          transition: 'vertical flip in',
          duration: 500
        });

        // show dropdown on hover
        $('.main.menu  .ui.dropdown').dropdown({
          on: 'hover'
        });
        $('.ui.rating#demo')
          .rating('disabled')
        ;
        $('.ui.rating#thisStudent')
          .rating()
        ;


      })
    ;
    </script>
  </head>
  <body ng-controller="ScoreCtrl">
    
    <!-- Sidebar Menu -->
    <div class="ui main text container">
    <h1 class="ui header">創九報名 批改系統 - 個人批改</h1>
    <p>批改說明:<br>
    本屆批改以每位老師看完個人所有資料後，給予一整體性評分<br>
    <div id="demo" class="ui mini star rating" data-rating="1" data-max-rating="3" disabled></div>表示給予此學生 1分(最低分，其意為:'建議不予錄取')<br>
    <div id="demo" class="ui mini star rating" data-rating="2" data-max-rating="3" disabled></div>表示給予此學生 2分(中等，其意為:'普通')<br>
    <div id="demo" class="ui mini star rating" data-rating="3" data-max-rating="3" disabled></div>表示給予此學生 3分(最高分，其意為:'建議錄取')
    </p>
    </div>
    

  <div class="ui borderless main menu">
    <div class="ui text container">
      <div href="#" class="header item">
        <img class="logo" src="/image/cep_only_logo-01.png">
      </div>
      <a class="item" href="/">回列表頁</a>
      <% if (user) { %>
      <a class="item" href="/dashboard">成績總覽</a>
      <% } %>
        
        <!-- <a class="ui inverted button">Sign Up</a> -->
      </div>
      
  </div>
  
  
  <div class="ui internally celled grid">
    <div class="row">
      <div class="five wide column">
        <div class="overlay">
          <div class="ui labeled vertical cards">
            <div class="card">
              <div class="content">

                <div class="right floated" ng-show="user.team">
                  團體報名
                  <i class="right floated orange large users icon"></i>
                  <div class="text red">{{user.team}}</div>
                  <div class="red" ng-show="user.leader_name == user.name">(隊長)</div>
                  <div class="red" ng-show="user.leader_name !== user.name">(成員)</div>
                </div>

                <div class="description right floated" ng-show="!user.team">個人報名 <i class="right floated large user icon"></i></div>
                
                <div class="header">{{user.name}}</div>
                <div class="description">性別: {{user.gender}}</div>
                <div class="description">{{user.school}}</div>
                <div class="description">{{user.college}} - {{user.department}}</div>
                <div class="description">年級: {{user.grade}}</div>
                <div class="description">學號: {{user.student_id}}</div>
                <div class="description">未來一年出國交換計畫: {{user.exchange_student}}
                <% if (user.exchange_student=="是") { %>
                  
                    - {{user.exchange_student_other}}
                  
                <% } %>
                </div>

                <div class="description">Email: {{user.email}}</div>
                <div class="description">Phone: {{user.phone_number}}</div>
                <div class="description">Facebook: <a href="{{user.facebook_link}}" target="_blank">前往查看</a></div>
                
                <!-- <div class="description">上次評分: {{user.score.mentor1_score}}</div> -->
                
              </div>
              <div class="extra content">
              <!-- <input type="number" class="form-control" ng-model="user.score.all_score" placeholder="請輸入數字"> -->
                整體評分:<div id="thisStudent" class="ui massive star rating" data-rating="{{user.score.mentor1_score}}" data-max-rating="3"></div>
                <button class="ui right floated inverted green button" ng-click="JRsubmitScore()">送出</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eleven wide column">
        <!-- 1 -->
        <div class="ui raised teal segment">
          <p>1. 主要社團經歷與擔任角色</p>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>社團名稱</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  {{user.club_name}}
                  
                </div>
                
              </div>
            <div class="ui secondary segment">
              <p>擔任角色</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  {{user.club_role}}
                </div>
                
              </div>
            <div class="ui secondary segment">
              <p>主要事蹟</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  {{user.club_story}}
                </div>
                
              </div>
            
          </div>
        </div>
        <!-- 5 -->
        <div class="ui raised red segment">
          <p>2. 進階提問</p>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>是否曾修習過以下（創創 或 D-School）課程？（複選）</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.course_takes}}</p>

                  <!-- 
                    <p ng-show="user.course_takes_service_design != 0">{{user.course_takes_service_design}}</p>
                    <p ng-show="user.course_takes_art_create != 0">{{user.course_takes_art_create}}</p>
                    <p ng-show="user.course_takes_art_design_sale != 0">{{user.course_takes_art_design_sale}}</p>
                    <p ng-show="user.course_takes_novel_design != 0">{{user.course_takes_novel_design}}</p>
                    <p ng-show="user.course_takes_visual_design != 0">{{user.course_takes_visual_design}}</p>
                    <p ng-show="user.course_takes_novel_bm_design != 0">{{user.course_takes_novel_bm_design}}</p>
                    <p ng-show="user.course_takes_art_create != 0">{{user.course_takes_art_create}}</p>
                    <p ng-show="user.course_takes_ux != 0">{{user.course_takes_ux}}</p>
                    <p ng-show="user.course_takes_global_youth != 0">{{user.course_takes_global_youth}}</p>
                    <p ng-show="user.course_takes_med != 0">{{user.course_takes_med}}</p>
                    <p ng-show="user.course_takes_dt != 0">{{user.course_takes_dt}}</p>
                    <p ng-show="user.course_takes_global_theory_do != 0">{{user.course_takes_global_theory_do}}</p>
                    <p ng-show="user.course_takes_oldman != 0">{{user.course_takes_oldman}}</p>
                    <p ng-show="user.course_takes_novel_cars != 0">{{user.course_takes_novel_cars}}</p>
                    <p ng-show="user.course_takes_warm_tech != 0">{{user.course_takes_warm_tech}}</p>
                    
                    <p ng-show="user.course_takes_none == '無'">{{user.course_takes_none}}</p>
                  -->
                  
                </div>  
              </div>
          </div>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>（承上）請就上述課程中，選擇一門最讓你感興趣的課程，說明你的學習心得；若未修過上述課程，則從你曾修過的課程中，選擇一門說明學習心得：</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.course_takes_reviews}}</p>
                  
                </div>  
              </div>
          </div>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>請問是否曾參與過下列創業相關活動？（複選）</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">

                  <p>{{user.startup_activities}}</p>

                  <!--
                  <p ng-show="user.startup_activities_cep_forum != 0">{{user.startup_activities_cep_forum}}</p>
                  
                  <p ng-show="user.startup_activities_dt_workshop != 0">{{user.startup_activities_dt_workshop}}</p>
                  
                  <p ng-show="user.startup_activities_social_project != 0">{{user.startup_activities_social_project}}</p>
                  
                  <p ng-show="user.startup_activities_intro_seminar != 0">{{user.startup_activities_intro_seminar}}</p>
                  
                  <p ng-show="user.startup_activities_HackNTU != 0">{{user.startup_activities_HackNTU}}</p>
                  
                  <p ng-show="user.startup_activities_NTU_Startup_Day != 0">{{user.startup_activities_NTU_Startup_Day}}</p>
                  
                  <p ng-show="user.startup_activities_startup_matchmaking != 0">{{user.startup_activities_startup_matchmaking}}</p>

                  
                  <p ng-show="user.startup_activities_none =='無'">{{user.startup_activities_none}}</p>
                  -->
                  
                </div>  
              </div>
          </div>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>（承上）若有，請針對其中印象最深刻的活動，說明參與心得；若沒有，請以您參與過任何與創新創業相關的活動為例，說明參與心得：</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.startup_activities_reviews}}</p>
                  
                </div>  
              </div>
          </div>

          <div class="ui segments">
            <div class="ui secondary segment">
              <p>創業需從待解決的問題出發，請問您最想解決或關注最多的問題屬於下列何者領域？</p>
              <p>（請參考創創挑戰賽五大領域分類：智慧生活、健康醫療、永續環境、社會文化、食品與農業）</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.startup_problems_region}}</p>
                  
                </div>  
              </div>
          </div>
          
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>（承上）請敘述你的問題主旨：</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.startup_problems}}</p>
                  
                </div>  
              </div>
          </div>
          
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>（承上）為何此問題值得解決，你的初步想法是？請用文字說明，或以附檔方式提供。</p>
            </div>
              <div class="ui segments">
                <div class="ui segment" ng-switch on="isURL(user.startup_problems_reviews)">
                  <p ng-switch-when="true"><a href="{{user.startup_problems_reviews}}" target="_blank">附檔連結</a></p>
                  <p ng-switch-default>{{user.startup_problems_reviews}}</p>

                </div>  
              </div>
          </div>
          
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>請說明你目前擁有，並且可以用在創業上的技能有哪些？</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.startup_skills}}</p>
                  
                </div>  
              </div>
          </div>

          <div class="ui segments">
            <div class="ui secondary segment">
              <p>請說明你最想要在創創學程中得到什麼？</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>{{user.what_to_learn}}</p>
                  
                </div>  
              </div>
          </div>

          <div class="ui segments">
            <div class="ui secondary segment">
              <p>請提供一份你的代表性作品，內容形式不拘，並製作成 1 分鐘以內的短片呈現。</p>
            </div>
              <div class="ui segments">
                <div class="ui segment" ng-switch on="isURL(user.video_link)">
                  <p ng-switch-when="true"><a href="{{user.video_link}}" target="_blank">附檔連結</a></p>
                  <p ng-switch-default>{{user.video_link}}</p>
                </div>  
              </div>
          </div>

        </div>
        <!-- 6 -->
        <div class="ui raised red segment">
          <p>3. 請提供一至三位曾經教導過也了解你的師長，或實習、工作上的主管之聯絡方式</p>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>第一位</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>姓名: {{user.contact1_name}}</p>
                  <p>職業: {{user.contact1_job}}</p>
                  <p>關係: {{user.contact1_relationship}}</p>
                  <p>手機: {{user.contact1_phone}}</p>
                  <p>E-mail: {{user.contact1_email}}</p>
                </div>
                
              </div>
            <div ng-show="!user.contact2_name">
              <div ng-show="!user.contact3_name">           
                <div class="ui secondary segment">
                  <p><i class="attention red icon"></i>此位學生僅提供一位聯絡人</p>
                </div>
              </div>
            </div>
            <div ng-show="user.contact2_name">
              <div class="ui secondary segment">
                <p>第二位</p>
              </div>
                <div class="ui segments">
                  <div class="ui segment">
                    <p>姓名: {{user.contact2_name}}</p>
                    <p>職業: {{user.contact2_job}}</p>
                    <p>關係: {{user.contact2_relationship}}</p>
                    <p>手機: {{user.contact2_phone}}</p>
                    <p>E-mail: {{user.contact2_email}}</p>
                  </div>
                  
                </div>
            </div>
            <div ng-show="user.contact3_name">
            <div class="ui secondary segment">
              <p>第三位</p>
            </div>
              <div class="ui segments">
                <div class="ui segment">
                  <p>姓名: {{user.contact3_name}}</p>
                  <p>職業: {{user.contact3_job}}</p>
                  <p>關係: {{user.contact3_relationship}}</p>
                  <p>手機: {{user.contact3_phone}}</p>
                  <p>E-mail: {{user.contact3_email}}</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <!--  7 -->
        <div class="ui raised orange segment" ng-show="user.team">
          <p>4. 團體資料與提問</p>
          <div class="ui segments">
            <div class="ui secondary segment">
              <p>請說明你們團隊的組成與角色分工，以及想解決的問題、解決方案、或商業模式為何？</p>
            </div>
              <div class="ui segments">
                <div class="ui segment" ng-show="user.team_formation_bm">
                  {{user.team_formation_bm}}
                  
                </div>
                <div class="ui segment" ng-show="!user.team_formation_bm">
                  <p><i class="attention red icon"></i>此位學生沒有提供此問題回答</p>
                  
                </div>
              </div>
            <div class="ui secondary segment">
              <p>請說明團隊目前的發展階段，以及擁有的團隊資源？</p>
            </div>
              <div class="ui segments">
               
                <div class="ui segment" ng-show="user.team_resource">
                  {{user.team_resource}}
                  
                </div>
                <div class="ui segment" ng-show="!user.team_resource">
                  <p><i class="attention red icon"></i>此位學生沒有提供此問題回答</p>
                </div>
              </div>
            <div class="ui secondary segment">
              <p>附件上傳：
若有任何其他有助於學程取才決策的輔助資料，歡迎以夾帶檔案的方式提供。(如 Prototype 介紹)</p>
            </div>
              <div class="ui segments">
                <div class="ui segment" ng-show="user.team_link">
                  <div ng-switch on="isURL(user.team_link)">
                    <p ng-switch-when="true"><a href="{{user.team_link}}" target="_blank">附檔連結</a></p>
                    <p ng-switch-default>{{user.team_link}}</p>
                  </div>  
                </div>  
                <div class="ui segment" ng-show="!user.team_link">
                  <p><i class="attention red icon"></i>此位學生沒有提供此題連結</p>
                  
                </div>
                
              </div>
            
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  </body>
</html>
