<!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
      <div class="item">創創報名批改系統</div>
      <a class="active item" href="/">批改系統</a>
      <% if (user) { %>
        <a class="item" href="/dashboard">成績總覽</a>
      <% } %>
      <% if (user) { %>    
        <div class="item">
          <div>正以<%= user.username %>身份登入</div>
        </div>
        <div class="item">
          <a class="ui button"  href="logout">登出</a>
        </div>
      <% } else { %>
        <div class="item">
          <a class="ui button">登入</a>
        </div>
      <% } %>
    </div>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <div class="item">
          <img src="/image/cep_only_logo-01.png" class="image" width="20"></img>
        </div>
        <a class="active item" href="/">批改系統</a>
        <% if (user) { %>
          <a class="item" href="/dashboard">成績總覽</a>
        <% } %>
        <div class="right menu">
          <% if (user) { %>    
            <div class="item">
              <div>正以<%= user.username %>身份登入</div>
            </div>
            <div class="item">
              <a class="ui button" href="logout">登出</a>
            </div>
          <% } else { %>
            <div class="item">
              <a class="ui button">登入</a>
            </div>
          <% } %>
          
        </div>
      </div>
    </div>